@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");
html {
  font-family: "DM Sans", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  cursor: pointer;
}
@media (max-height: 1200px) {
  .logo {
    top: 5%;
  }
}
.hero_bg {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
body {
  background-color: #040711;
  min-height: 100vh;
}
.card_cont {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1rem;
}
@media (min-width: 576px) {
  .card_cont {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .card_cont {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .card_cont {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .card_cont {
    width: 1140px;
  }
}
.card {
  padding: 1rem 1.5rem 0.5rem;
  border-radius: 1rem;
  min-height: 350px;
}
.translation {
  background-color: #212936cc;
}
.translated {
  background-color: #121826cc;
}
.translation {
  border: 1px solid #394150;
}
.translation .card_head {
  border-bottom: 1px solid #394150;
}
.translated {
  border: 1px solid #4d5562;
}
.translated .card_head {
  border-bottom: 1px solid #4d5562;
}
img.icon {
  margin-left: auto;
  border: 2px solid #4d5562;
  padding: 0.25rem;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
  max-height: 32px;
}
img.icon:active {
  scale: 0.97;
}
.card_head {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.5rem 1rem;
  color: #4d5562;
  font-weight: bold;
  font-size: 14px;
}
.card_head h1 {
  font-size: inherit;
}
.card_head p {
  padding: 0.5rem 0.75rem;
}
.card_head :is(p, li) {
  cursor: pointer;
  transition-duration: 0.3s;
}
.card_head :is(p, li):active {
  scale: 0.97;
}
.card_head :is(p).active {
  background-color: #4d5562;
  color: #f9fafb;
  border-radius: 0.5rem;
}

.select {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition-duration: 0.3s;
}

.select ul {
  position: absolute;
  top: 150%;
  left: 0;
  max-height: 150px;
  overflow-y: scroll;
  z-index: 100;
}
.select ul.hidden {
  display: none;
}

.select ul li {
  list-style: none;
  padding: 0.5rem;
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: #040711;
}
.select ul li:hover {
  background-color: #1f222c;
}

.tranlation_field :is(textarea, p):not(:is(p.count, .trans_btn p)) {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 90%;
  resize: none;
  caret-color: #fff;
  padding: 1.5rem 0 0;
  color: #f9fafb;
  font-size: 16px;
  font-weight: bold;
}
textarea:focus {
  border: none;
  outline: none;
}
p.error {
  color: rgb(236, 46, 46);
}
.tranlation_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 75%;
  position: relative;
}
.tran_actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}
.icons {
  display: flex;
  gap: 0.5rem;
}
.icons img {
  transition-duration: 0.3s;
}
.icons img:active {
  scale: 0.97;
}
img.icon.error {
  cursor: auto;
  border-color: rgb(236, 46, 46);
}
p.count {
  position: absolute;
  top: 65%;
  right: 2%;
  color: #4d5562;
  font-size: 12px;
}
p.count.full {
  color: rgb(236, 46, 46);
  font-weight: bold;
}
.trans_btn {
  color: #f9fafb;
  background-color: #3662e3;
  border: 1px solid #7ca9f3;
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
}
.trans_btn:hover {
  background-color: #7ca9f3;
}
.trans_btn:active {
  scale: 0.97;
}

.show {
  position: relative;
}
.show small {
  position: absolute;
  color: #040711;
  background-color: #7ca9f3;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
  left: 0;
  bottom: 100%;
  width: 0;
  text-align: center;
  transition-duration: 0.5s;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}
.show small.clicked {
  opacity: 1;
  width: 80px;
  left: 15%;
}
